/* カスタムCSS */

/* コンタクトフォーム */
.googleform_wrap {
  display: flex;
  justify-content: center;
}/* end/ コンタクトフォーム */

/* メインセクションのタイトルビジュアル */
.text_style {
  color: #2c2c2c;
  letter-spacing: .1em;
  text-shadow: 
    4px 4px 0px #d5d5d5, 
    7px 7px 0px rgba(0, 0, 0, 0.2);
}/* end/ メインセクションのタイトルビジュアル */

/* Servicesセクション 各サービスの説明文 */
.text_justify {
  text-align: justify;
}/* end/ Servicesセクション 各サービスの説明文 */

/* Servicesセクション 各コンテンツの配置*/
.mb_70 {
  margin-bottom: 70px;
}

.mb_70:last-child {
  margin-bottom: 0;
}

@media (min-width: 767px) {
  .mb_70 {
    margin-bottom: 0;
  }
}/* end/ Servicesセクション 各コンテンツの配置*/

/* Portfolioセクション 各コンテンツの配置 */
.flex_50 {
  flex: 0 0 50%;
  margin: 0 0 80px;
  min-width: 100%;
}
@media (min-width: 767px) {
  .flex_50 {
    min-width: 50%;
  }
}
#portfolio .portfolio-item {
  margin: 0 0 70px;
}
#portfolio .portfolio-item:last-child {
  margin: 0;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 80px;
  }
}/* end/ Portfolioセクション 各コンテンツの配置 */

/* footer 各コンテンツの配置 */
.flex-end {
  justify-content: flex-end;
}
/* end/ footer 各コンテンツの配置 */


/* topセクションとservicesセクションのjsスクロールアニメーション */
.fade-type-scale {
  opacity: 0;
  transform: scale(.5);
  transition: .6s;
}

.fade-scale {
  opacity: 1;
  transform: scale(1);
}/* end/ topセクションとservicesセクションのjsスクロールアニメーション */

/* portfolioセクションのjsスクロールアニメーション */
.fade-type-left, .fade-type-right {
  opacity: 0;
  transition: .6s;
}

.fade-type-left {
  transform: translateX(50px);
}

.fade-type-right {
  transform: translateX(-50px);
}

.fade-left-right {
  opacity: 1;
  transform: translateX(0);
}/* end/ portfolioセクションのjsスクロールアニメーション */
