/* カスタムCSS */

/* font指定 */
/* 
@font-face {
  font-family: "MyFont";
  src: url(font/UtsukushiFONT.otf);
} */

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  width: 100%;
}

.h4_to_p_changed {
  line-height: 1.2;
  margin-bottom: 75px;
}


/* topセクションのタイトルビジュアル */
.text_style {
  color: #2c2c2c;
  letter-spacing: .1em;
  text-shadow: 4px 4px 0 #d5d5d5,
  7px 7px 0 rgba(0, 0, 0, 0.2);
}/* end/ topセクションのタイトルビジュアル */

/* topセクションのコンタクトボタン */
.top_btn {
  padding: 15px 50px;
}
@media screen and (min-width: 768px) {
  .top_btn {
    padding: 20px 80px;
  }
}/* end/ topセクションのコンタクトボタン */


/* aboutセクションのCSS */
.about_wrap {
  display: block;
}
@media screen and (min-width: 768px) {
  .about_wrap {
    display: flex;
    justify-content: space-between;
  }
}

.about_img {
  margin-bottom: 50px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about_img {
    margin: 0;
    width: 40%;
  }
}

.about_text {
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about_text {
    text-align: center;
    width: 50%;
  }
}

/* aboutのprofileコンテンツ */
.profile_wrap {
  margin-bottom: 50px;
}

.about_h3 {
  font-size: 30px;
  margin-bottom: 50px;
}

.about_h3::after {
  border-bottom: 3px solid #fed136;
  content: "";
  display: block;
  width: 100%;
}

.about_p_wrap {
  padding-left: 33px;
}
@media screen and (min-width: 768px) {
  .about_p_wrap {
    padding-left: 50px;
  }
}

.about_p {
  text-align: left;
}

/* aboutのskillコンテンツ */
.skill_content_wrap {
  display: flex;
  flex-wrap: wrap;
  font-size: 11px;
  justify-content: space-between;
  margin-top: 16px;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .skill_content_wrap {
    padding-inline-start: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .skill_content_wrap {
    font-size: 1rem;
  }
}

.skill_content {
  list-style: none;
  margin-bottom: 24px;
  padding-top: 40px;
  position: relative;
  text-align: center;
  width: 20%;
}
@media screen and (min-width: 768px) {
  .skill_content {
    margin-bottom: 50px;
    padding-top: 60px;
  }
}

.skill_content::before {
  bottom: 32px;
  content: "";
  height: 24px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 24px;
}
@media screen and (min-width: 768px) {
  .skill_content::before {
    height: 40px;
    width: 40px;
  }
}

.skill_content._1:before {
  background: url(../img/about/html5.svg) no-repeat;
  background-size: contain;
}
.skill_content._2:before {
  background: url(../img/about/css3.svg) no-repeat;
  background-size: contain;
}
.skill_content._3:before {
  background: url(../img/about/sass.png) no-repeat;
  background-size: contain;
}
.skill_content._4:before {
  background: url(../img/about/bootstrap.svg) no-repeat;
  background-size: contain;
}
.skill_content._5:before {
  background: url(../img/about/php.svg) no-repeat;
  background-size: contain;
}
.skill_content._6:before {
  background: url(../img/about/wordpress.svg) no-repeat;
  background-size: contain;
}
.skill_content._7:before {
  background: url(../img/about/js.svg) no-repeat;
  background-size: contain;
}
.skill_content._8:before {
  background: url(../img/about/jquery.png) no-repeat;
  background-size: contain;
  bottom: 24px;
  width: 40px;
}
.skill_content._9:before {
  background: url(../img/about/xd.png) no-repeat;
  background-size: contain;
}
.skill_content._10:before {
  background: url(../img/about/git.svg) no-repeat;
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .skill_content._8:before {
    width: 60px;
  }
}/* end/ aboutセクションのCSS */


/* Portfolioセクション */
.__center {
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .__center {
    justify-content: unset;
  }
}

#portfolio .portfolio-item {
  flex: 0 0 50%;
  margin: 0 0 70px;
  margin: 0 0 80px;
  min-width: 81.4%;
  padding: 0;
}
#portfolio .portfolio-item:last-child {
  margin: 0;
}
@media screen and (min-width: 768px) {
  #portfolio .portfolio-item {
    margin: 0 0 80px;
    min-width: 50%;
    padding: 0 30px;
  }
}

/* font指定 */
.portfolio-caption h3 {
  /* font-family: "MyFont"; */
  font-family: 見出ゴMB31;
  font-weight: 400;
}/* end/ Portfolioセクション */


/* Servicesセクション 各サービスの説明文 */
.text_justify {
  text-align: justify;
}/* end/ Servicesセクション 各サービスの説明文 */

/* Servicesセクション 各コンテンツの配置*/
.mb_70 {
  margin-bottom: 70px;
}

.mb_70:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .mb_70 {
    margin-bottom: 0;
  }
}/* end/ Servicesセクション 各コンテンツの配置*/


/* コンタクトセクション */
.contact_label {
  color: #fff;
}
.contact_label::before {
  background: #f92931;
  border-radius: 20px;
  color: #fff;
  content: "必須";
  margin-right: 10px;
  padding: 6px 10px;
}

/* contactセクションのコンタクトボタン */
.contact_btn {
  padding: 15px 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .contact_btn {
    padding: 20px 128px;
    width: auto;
  }
}/* end/ contactセクションのコンタクトボタン */
/* end/ コンタクトセクション */


/* footer 各コンテンツの配置 */
.flex-end {
  justify-content: flex-end;
}
/* end/ footer 各コンテンツの配置 */


/* topセクションとservicesセクションのjsスクロールアニメーション */
.fade-type-scale_fast {
  opacity: 0;
  transform: scale(.5);
  transition: .6s;
}
.fade-type-scale_slow {
  opacity: 0;
  transform: scale(.5);
  transition: 1.2s;
}

.fade-scale {
  opacity: 1;
  transform: scale(1);
}/* end/ topセクションとservicesセクションのjsスクロールアニメーション */

/* portfolioセクションのjsスクロールアニメーション */
.fade-type-left, .fade-type-right {
  opacity: 0;
  transition: .6s;
}

.fade-type-left {
  transform: translateX(42px) scale(.9);
}

.fade-type-right {
  transform: translateX(-42px) scale(.9);
}

.fade-left-right {
  opacity: 1;
  transform: translateX(0);
}/* end/ portfolioセクションのjsスクロールアニメーション */
