/* カスタムCSS */

/* コンタクトフォーム */
.googleform_wrap {
  display: flex;
  justify-content: center;
}
/* end/ コンタクトフォーム */

/* Servicesセクション 各サービスの説明文 */
.text_justify {
  text-align: justify;
}
/* end/ Servicesセクション 各サービスの説明文 */
